
*{
  box-sizing: border-box;
}

#root, body, html {
  margin:0;
  font-family: 'Karla', 'Inter', sans-serif;
  height:100%;
  width: 100%;;
}

.container{
  height:100%;
  width: 100%;
}

.centered{
  flex-direction: column;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.loading-spinner {
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
  border: 4px solid teal;
  border-top: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

.error-message {

  color: red;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

